<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="header wrapper">
        <div class="header content">
            <div class="header menu item main">
                @Html.ActionLink("Music life", "Index", "Home", new { area = "" }, null)
            </div>
            <div class="header menu item">
                @Html.ActionLink("Новости", "Index", "Help", new { area = "" }, null)
            </div>
            <div class="header menu item">
                @Html.ActionLink("Музыка", "Index", "Help", new { area = "" }, null)
            </div>
            <div class="header menu item">
                @Html.ActionLink("Видео", "Index", "Help", new { area = "" }, null)
            </div>
            <div class="header menu item">
                @Html.ActionLink("Релизы", "Index", "Help", new { area = "" }, null)
            </div>
            <div class="header menu item">
                @Html.ActionLink("Радио", "Index", "Help", new { area = "" }, null)
            </div>
            <div class="header menu item">
                @Html.ActionLink("Распознать музыку", "Index", "Help", new { area = "" }, null)
            </div>
        </div>
    </div>
    <div class="layout">
        <div class="page">
            <div class="leftmenu">
                <div class="leftmenu item">
                    @Html.ActionLink("Music life", "Index", "Home", new { area = "" }, null)
                </div>
                <div class="leftmenu item">
                    @Html.ActionLink("Новости", "Index", "Help", new { area = "" }, null)
                </div>
                <div class="leftmenu item">
                    @Html.ActionLink("Музыка", "Index", "Help", new { area = "" }, null)
                </div>
                <div class="leftmenu item">
                    @Html.ActionLink("Видео", "Index", "Help", new { area = "" }, null)
                </div>
                <div class="leftmenu item">
                    @Html.ActionLink("Релизы", "Index", "Help", new { area = "" }, null)
                </div>
                <div class="leftmenu item">
                    @Html.ActionLink("Радио", "Index", "Help", new { area = "" }, null)
                </div>
                <div class="leftmenu item">
                    @Html.ActionLink("Распознать музыку", "Index", "Help", new { area = "" }, null)
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
    <hr />
    <footer class="footer">
        <p>Все права защищены, бла бла бла</p>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
