<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">
        <header class="header">
            <p>Header</p>
        </header>

        <nav class="nav">
            <ul>
                <li>@Html.ActionLink("ML", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Новости", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Музыка", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Видео", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Релизы", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Радио", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Мое меню", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Админка", "Index", "Home", new { area = "" }, null)</li>
            </ul>
        </nav>

        <section id="leftMenu">
            <menu>
                <li>@Html.ActionLink("Pop", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("REP", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("ROCK", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Electronic", "Index", "Home", new { area = "" }, null)</li>
            </menu>
        </section>

        <section class="content">
            @RenderBody()
        </section>
        
        <footer class="footer">
            <p>Тут дополнительное меню</p>
            <p>Тут правовая информация</p>
        </footer>

        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
